/*estilo para el encabezado*/
header{
    background-color: green;
    padding: 20px;
    text-align: center;
    color: white;
}
/*estilos para el nav*/
nav a{
    color:black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    color: chocolate;
}
/*estilos para la seccion principal*/
.contenedor3{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 130.1);
}
.contenedor3 h2{
    color: #333;
}
.contenedor3 p{
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
h1{
    color: black; 
    font-size: 25px;
}
p{
    color: yellow; 
    font-family: 'Courier New', Courier, monospace;
}
img{
    border: 2px solid red
}
h2{
    color: burlywood;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.list {
    margin: 20px 0;
}
.list h2 {
    color: #555;
}
.list ul {
    list-style-type: disc;
    margin-left: 20px;
}
.list ol {
    list-style-type: decimal;
    margin-left: 20px;
}
.table-container {
    margin-top: 20px;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.table-container th, .table-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.table-container th {
    background-color: #333;
    color: white;
}
.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}
